.label {
    font-size: 18px;
    margin-top: -30px;
}

h2.caption {
    margin: 5px 10px;
}

div.caption {
    position: absolute;
    display: inline-block;
    max-width: auto;
    height: auto;
    background-color: lightgray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 10px;
    opacity: 0.75;
    bottom: 0px;
    margin-top: 10px;
    transform: translate(-50%, 0%);
}

img.pet_profile {
    max-height: 255px;
    display: block;
    margin: auto;
    overflow: hidden;
}

div.pet_profile {
  position: relative;
}

.pet_profile_slider {
  height: 340px;
}

div.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: baseline;
}
