#body-container {
  z-index: 10;
  position: relative;
}

#body-card {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: -200px;
  border-color: darkgray;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 210px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-picture {
  border-radius: 50%;
  margin-top: 30%;
}
